body {
    margin: 0;
    padding: 0;
}
.container-fluid {
    padding: 0px;
}
/*nav Icon*/
.nav-bar .logo {
    display: inline-block;
}

.icon{
    text-align: right;
    border-right: 1px solid #343537;
    display: flex;
}

/*nav Item*/

.nav-item {
    padding-left: 45px;
    padding-right: 45px;
}
.navbar-expand-lg {
    width: 100%;
}
.nav-bar {
    background-color: #0d0d11;
    width: 100%;
    text-align: center;

}
.navbar {
    background-color: #0e0f12;
    
    display: inline-block;
}
.collapse .navbar-nav .nav-item .nav-link {
    color: white ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}
/*drop down list*/
.navbar-toggler {
    background: white;
}



.nav-list {
    justify-content: center;
    border-top: 1px solid #343537;
}

/*nav Icon*/
.fa-linkedin-in {
    color: white;
}

.fa-twitter{
    color: #4397ff;
}

/*nav Languge*/
.ar {
    color: white;
    text-decoration: none;
}
.lang {
    padding: 0 4px;
}
.languge {
    border-left: 1px solid #343537 ;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 9px;
}

/*Header List*/
.list {
    justify-content: center;
    display: flex;
}
.line {
    height: 13px;
    display: flex;
    width: 1px;
    background-color: white;
}
.carousel-inner{
    height: 450px;
}

/*Slider background*/


.slide-img {
    position: absolute;
}

/*Slider Icon*/
.icon-slider {
    font-size: 70px;

}
.carousel-indicators li {
    width: 18px;
    height: 18px;
    border: none;
    border-radius: 10px;
    opacity: 0.2;
    transition: opacity .2s ease;
}
.carousel-indicators .active {
    background-color: blue;
}

/*Slider size text*/

.carousel-caption h5 {
    font-size: 40px;

}

.carousel-caption {
    position:initial;
}

.carousel-caption p {
    font-size: 20px;
    padding-top: 10px;
}


.item {
    width:100%;
    margin: auto;
}
.bg-dark {
    display: none;
    
}

.navb {
    background: transparent;
    border: none;
}
.carousel-item {
    background-color:rgba(26, 29, 243, 0.678); ;
    text-align: center;
}
.d-none {

    padding: 7%;
}

@media all and (max-width: 780px) {
    .icon,.languge {
      border-left: none;
      border-right: none;
      display: inline;
    }

    .icon-slider {
        font-size: 30px;
    }
    .slide-img {
        position: absolute;
        }

        .item {
            width: 100%;
            
        }
        .carousel-caption h5 {
            font-size: 15px;
        
        }
        
        .carousel-caption p {
            font-size: 10px;
            
        }
        .carousel-inner{
            height: 220px;
        }
        .d-none {
            display: inline-block!important;
        }
        .bg-dark {
            border: none;
            float: right;
            background: transparent!important;
        }
        
        .nav-bar {
            display: inline-block;
            width: 100%;
        }
         .logo img {
            width: 162px;
            height: 53px;
        }
        .logo {
            display: inline-block;
        }
        .navbar {
            border:none;
            display: inline-block;
            padding: 8px;
        } 
        .nav-bar .logo {
            float: left;
        }
        .nav-list {
            text-align: center;
            display: inline-block;
            width: 100%;
            padding-top: 10px;
        }
        .languge span {
            display: inline-block;
        }
        .icon a {
            padding:0 10px;
            margin: 0;
        }
        .carousel-indicators {
            padding: 5px;
        }
  }
  @media (min-width: 576px) and (max-width: 992px)
  
  { 
    .bg-dark {
        border: none;
        float: right;
        background: transparent!important;
    }
    .navbar {
        border:none;
        display: inline-block;
        padding: 8px;
    } 
    .icon,.languge {
        border-left: none;
        border-right: none;
        display: inline;
      }
      .languge span {
        display: inline-block;
    }
    .icon a {
        padding:0 10px;
        margin: 0;
    }
    .nav-list {
        text-align: center;
        display: inline-block;
        width: 100%;
        padding-top: 10px;
    }

    .logo img {
        width: 170px;
        height: 60px;
    }
    .nav-bar .logo {
        float: left;
        padding: 0;
        margin: 0;
    }
    .navb {
        padding: 7px;
        font-size: 20px;
    }
    .carousel-caption h5 {
        font-size: 20px;
    
    }
    
    .carousel-caption p {
        font-size: 16px;
        
    }

    .carousel-inner {
        height: 260px;
    }
   }