body {
    margin: 0;
    padding: 0;
}
.container-fluid {
    padding: 0px;
}
/*nav Icon*/
.nav-bar .logo {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.icon{
    text-align: right;
    border-right: 1px solid #343537;
    display: flex;
    margin: auto;
    padding-left: 35px;
    justify-content: center;
}

/*nav Item*/

.nav-item {
    padding-left: 45px;
    padding-right: 45px;
}
.navbar-expand-lg {
    width: 100%;
}
.nav-bar {
    background-color: #0d0d11;
    width: 100%;

}
.navbar {
    background-color: #0e0f12;
    text-align: center;      
    display: inline-block;
}
.collapse .navbar-nav .nav-item .nav-link {
    color: white ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}
/*drop down list*/
.navbar-toggler {
    background: white;
    
}
.bg-dark {
    background: none!important;
    float: right;
}



.nav-list {
    justify-content: center;
    border-top: 1px solid #343537;
    margin: auto;
    width: fit-content;
}

/*nav Icon*/
.fa-linkedin-in {
    color: white;
}

.fa-twitter{
    color: #4397ff;
}

/*nav Languge*/
.ar {
    color: white;
    text-decoration: none;
}
.lang {
    padding: 0 4px;
}
.languge {
    border-left: 1px solid #343537 ;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 9px;
    margin: auto;
    justify-content: center;
}

/*Header List*/
.list {
    justify-content: center;
    display: flex;
}
.line {
    height: 13px;
    display: flex;
    width: 1px;
    background-color: white;
}
.carousel-inner{
    height: 450px;
}

/*Slider background*/


.slide-img {
    position: absolute;
}
.slide img {
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    width: 100%;
    max-height: 400px;
    margin-bottom: 1rem;
}

/*Slider Icon*/
.icon-slider {
    font-size: 70px;

}
.carousel-indicators li {
    width: 18px;
    height: 18px;
    border: none;
    border-radius: 10px;
    opacity: 0.2;
    transition: opacity .2s ease;
    background-color: black;
}
.carousel-indicators .active {
    background-color: blue;
}

/*Slider size text*/

.carousel-caption h5 {
    font-size: 55px;

}

.carousel-caption {
    position:initial;
    text-align: center;
    padding: 40px;
    padding-left: 300px;
    padding-right: 300px;
}

.carousel-caption p {
    font-size: 30px;
    padding-top: 30px;
}


.item {
    background: rgba(26, 29, 243, 0.678);;
    position: absolute;
    height: inherit;
    max-height: 350px;
    width: 100%;
    margin: auto;
    text-align: center;
}


.navb {
    background: transparent;
    border: none;
    font-size: 25px;
}
.carousel-item {
    text-align: center;
}


@media all and (max-width:991.98px){
    .nav-list
    {
        width: 100%;}

        .icon {
            border: none;
        }
        .languge {
            border: none;
        }
}

@media all and (max-width:442px){
    .bg-dark {
        float: none;
    }
        .carousel-caption {
            padding: 0;
        
    }

}
@media (min-width: 20px) and (max-width: 575.98px) { 
    
    
    .d-md-block h5{
        font-size: 30px ;
     } 
    

    .d-md-block p {
        font-size: 22px;
    }

    .item {
        height: fit-content;
    }
    .carousel-caption {
        padding: 0;
    
}
 }

 @media (min-width: 576px) and (max-width: 767.98px) { 
    
    
    .d-md-block h5{
        font-size: 35px ;
     } 
    

    .d-md-block p {
        font-size: 28px;
    }
    .item {
        height: fit-content;
    }
    .carousel-caption {
        padding-left: 40px;
        padding-right: 40px;

    
}
 }

 @media (min-width: 768px) and (max-width: 991.98px){ 
    
    
    .d-md-block h5{
        font-size: 45px ;
     } 
    

    .d-md-block p {
        font-size: 38px;
    }
    .item {
        height: fit-content;
    }
    .carousel-caption {
        padding-left: 40px;
        padding-right: 40px;
        
    
}
 }


